*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #8052ec,
        #d161ff
    );
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px ;
}

#newtask{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#newtask input{
   width: 70%;
   height: 45px;
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   border: 2px solid #d1d3d4;
   padding: 12px;
   color: #111;
   font-weight: 500;
   border-radius: 5px;
}

#newtask input:focus{
    outline: none;
    border-color: #8052ec;
}

#newtask button{
    width: 100px;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: #390ca1;
    color: #fff;
}

#newtask button:hover{
    background-color: #8052ec;
    cursor: pointer;
}

#tasks{
   background-color: #fff;
   padding: 30px 20px;
   margin-top: 40px;
   border-radius: 10px;
   box-shadow: 0 15px 30px rgba(0,0,0,0.3);
   width: 100%;
   position: relative;
}

.validationInput{
    background-color: #f0565b;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.task{
    background-color: #fff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
}

.task:hover{
  cursor: pointer;
  background-color: #d1d3d4;
}

.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button{
    background-color: #390ca1;
    color: #fff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.complete{
    text-decoration: line-through;
}
